<html>
<head>
    <link rel="stylesheet" href="./styles.css" >
</head>
<body>
    <h1>Todo List</h1>
    <form method="post" action="/">
       <input type="text" name="todo" placeholder="Todo" />
       <button type="submit"> Add Todo </button>
    </form>

</body>
</html>